#include "menu.h"

MY_MENU_NAME MENU {
        POPUP "&File"
        {
            MENUITEM "&Open",             IDM_OPEN
            MENUITEM SEPARATOR
            MENUITEM "&Exit",             IDM_EXIT
        }
        POPUP "&Edit"
        {
            MENUITEM "&Formatted mode",   IDM_FORMATTED , CHECKED
            MENUITEM "&Unformatted mode", IDM_UNFORMATTED , CHECKED
        }
}
